body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
button {
    text-align: center;
    margin: 10px;
}

.gallery {
    padding: 150px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-wrap {
    width: 250px;
    height: 250px;
    margin: 5px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

i {
    font-size: 72px;
}