*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
li {
    list-style-type: none;
}

.wrapper {
    border: 3px solid #000;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.title{
    background:#176CAA;
    color: #fff;
    padding: 50px;
    display: flex;
    justify-content: center;
}
.list-group-item {
    display: flex;
    height: 50px;
    border-bottom: 2px solid #ccc;
    justify-content: space-between;
    text-align: center;
}
.buy-list {
    height: 300px;
    overflow-y: scroll;
}


.add-input {
    border: 3px solid #000;
    height: 70px;
    width: 60%;
    display: inline-block;
    text-indent: 30px;
    font-size: 1.5em;
}
.fa-plus {
    color: green;
    font-size: 3em;
}
.fa-plus:hover {
    color: greenyellow;
    cursor: pointer;
}

.scale-div {
    height: 100px;
    /* background: yellowgreen; */
    padding: 10px;
}

.scale {
    height: 100%;
    border: 3px solid #000;
    background: #ccc;
    width: 50%;
}
.scale-value {
    height: 100%;
    width: 0%;
    background: yellowgreen;
}