body {
    background: blueviolet;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}
.grid {
    width: 800px;
    border: 5px solid #000;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
}

.grid-item { 
    border: 2px solid #000;
    height: 130px;
    overflow: hidden;
}
#add-button {
    position: fixed;
    top: 20px;
    left: 20px;
}